.slick-slider {
  z-index:100;

  .slick-arrow {
    z-index: 101;
    opacity: 0;

    &.slick-prev {
      left: 100px;
    }

    &.slick-next {
      right: 100px !important;

    }

  }

  &:hover {
    .slick-arrow {
      opacity: 1;
    }
  }
}

.slick-list {
  margin: 0;
  padding: 0;

  &:focus {
    outline: 0
  }

  &.dragging {
    cursor: pointer;
    cursor: hand
  }
}

.slick-slider .slick-list, .slick-slider .slick-track {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0)
}

.slick-track {
  top: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto
}

.slick-track:after, .slick-track:before {
  display: table;
  content: ''
}

.slick-track:after {
  clear: both
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px
}

[dir=rtl] .slick-slide {
  float: right
}

.slick-slide img {
  display: block;
  width: 100%;
  height: auto
}

.slick-slide.slick-loading img {
  display: none
}

.slick-slide.dragging img {
  pointer-events: none
}

.isReady .featuredDisplay, .isReady .slick-slide {
  display: block
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent
}

.slick-arrow.slick-hidden {
  display: none
}
